<!-- _NavBar.cshtml -->
<nav class="secciones d-flex justify-content-center">
    <div class="ejercicios me-3"><a class="nav-link text-light" asp-area="" asp-page="/Exercise">Ejercicios</a></div>
    <div class="benchmarks me-3"><a class="nav-link text-light" asp-area="" asp-page="/Benchmarks">Benchmarks</a></div>
    <div class="calendario me-3"><a class="nav-link text-light" asp-area="" asp-page="/PersonalCalendar">Calendario</a></div>
    <div class="entrenamientos me-3"><a class="nav-link text-light" asp-area="" asp-page="/Workout">Entrenamientos</a></div>
    <div class="reservas me-3"><a class="nav-link text-light" asp-area="" asp-page="/Reservas">Reservas</a></div>
</nav>