@page
@model RGNRK.Areas.Ejercicios.Pages.Exercises.ListModel
@{
    ViewData["Title"] = "Ejercicios";
    Layout = "_Layout";
}

<link href="~/css/Ejercicios.css" rel="stylesheet">

<div class="category-container" id="category-container">
    <div class="categories">
        @foreach (var category in Model.Categories)
        {
            <div class="category-header" onclick="toggleExercises('category-@category.Id')">
                @category.Name
            </div>
        }
    </div>
    <div class="subtitle" id="subtitle">Pulsa en cualquier categoría para desplegar sus ejercicios</div>
</div>

@foreach (var category in Model.Categories)
{
    <div id="category-@category.Id" class="exercise-list">
        @foreach (var exercise in category.Exercises)
        {
            <div class="exercise">
                <div class="video-title">
                    @exercise.Name
                </div>
                <div id="video-@exercise.Id" class="video-container">
                    <iframe width="560" height="315" src="@exercise.ExerciseVideo.Url" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
                <div class="video-description">
                    @exercise.Description
                </div>
            </div>
        }
    </div>
}

<script>
    function toggleExercises(categoryId) {
        var exerciseList = document.getElementById(categoryId);
        var subtitle = document.getElementById('subtitle');
        var categoryContainer = document.getElementById('category-container');

        if (exerciseList.style.display === 'block') {
            exerciseList.style.display = 'none';
            subtitle.style.display = 'block';
            categoryContainer.classList.remove('top-position');
        } else {
            // Ocultar todos los exercise-list
            var allExerciseLists = document.getElementsByClassName('exercise-list');
            for (var i = 0; i < allExerciseLists.length; i++) {
                allExerciseLists[i].style.display = 'none';
            }
            exerciseList.style.display = 'block';
            subtitle.style.display = 'none';
            categoryContainer.classList.add('top-position');
        }
    }
</script>

