@page
@model ForgotPasswordConfirmation

@{
    ViewData["Title"] = "Correo de recuperación de contraseña enviado";
}

<style>
    .centered-container {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
    }

    .message-container {
        text-align: center;
        max-width: 500px;
        width: 100%;
    }

    .title {
        font-size: 1.5rem;
    }
</style>

<div class="centered-container">
    <div class="message-container">
        <h1 class="title">@ViewData["Title"]</h1>
        <p>Por favor, comprueba tu email para resetear tu contraseña.</p>
    </div>
</div>
