@page
@model ResendEmailConfirmationModel

@{
    ViewData["Title"] = "Reenviar confirmación de correo electrónico";
}

<style>
    .centered-container {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
    }

    .form-container {
        max-width: 500px;
        width: 100%;
    }

    .btn-primary {
        background-color: #199DFC;
        color: white;
    }

    .title {
        font-size: 1.5rem;
    }

</style>

<div class="centered-container">
    <div class="form-container">
        <h1 class="text-center title">@ViewData["Title"]</h1>
        <h2 class="text-center">Introduce tu correo electrónico.</h2>
        <hr />
        <form method="post">
            <div asp-validation-summary="All" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" aria-required="true" placeholder="nombre@ejemplo.com" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">Reenviar</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
