@page
@model CookiesModel

@{
    ViewData["Title"] = "Política de Cookies";
    Layout = "_Layout";
}

<style>
    .content-container {
        margin: 20px 40px 20px 40px; /* Margen arriba, derecha, abajo, izquierda */
    }
</style>

<div class="content-container">
    <h1>@ViewData["Title"]</h1>
    <p>En Ragnarok, utilizamos cookies para mejorar tu experiencia en nuestro sitio web. A continuación, te explicamos qué son las cookies, cómo las utilizamos y cómo puedes controlar su uso.</p>

    <h2>¿Qué son las cookies?</h2>
    <p>Las cookies son pequeños archivos de texto que se almacenan en tu dispositivo cuando visitas un sitio web. Estas cookies permiten que el sitio web reconozca tu dispositivo y recuerde tus preferencias y acciones a lo largo del tiempo.</p>

    <h2>¿Qué tipos de cookies utilizamos?</h2>
    <ul>
        <li><strong>Cookies esenciales:</strong> Estas cookies son necesarias para el funcionamiento del sitio web y no pueden desactivarse en nuestros sistemas. Por lo general, solo se configuran en respuesta a acciones realizadas por ti, como la configuración de tus preferencias de privacidad, el inicio de sesión o la cumplimentación de formularios.</li>
        <li><strong>Cookies de rendimiento:</strong> Estas cookies nos permiten contar visitas y fuentes de tráfico para poder medir y mejorar el rendimiento de nuestro sitio. Nos ayudan a saber qué páginas son las más y menos populares y a ver cómo se mueven los visitantes por el sitio.</li>
        <li><strong>Cookies funcionales:</strong> Estas cookies permiten que el sitio web proporcione una mejor funcionalidad y personalización. Pueden ser establecidas por nosotros o por terceros cuyos servicios hemos agregado a nuestras páginas.</li>
        <li><strong>Cookies de publicidad:</strong> Estas cookies pueden ser establecidas a través de nuestro sitio por nuestros socios publicitarios. Pueden ser utilizadas por esas empresas para crear un perfil de tus intereses y mostrarte anuncios relevantes en otros sitios.</li>
    </ul>

    <h2>¿Cómo puedes controlar las cookies?</h2>
    <p>Puedes configurar tu navegador para bloquear o alertarte sobre estas cookies, pero algunas partes del sitio podrían no funcionar entonces. Para obtener más información sobre cómo administrar las cookies en los principales navegadores, visita:</p>
    <ul>
        <li><a href="https://support.google.com/chrome/answer/95647?hl=es">Google Chrome</a></li>
        <li><a href="https://support.mozilla.org/es/kb/cookies-informacion-que-los-sitios-web-guardan-en-">Mozilla Firefox</a></li>
        <li><a href="https://support.microsoft.com/es-es/help/17442/windows-internet-explorer-delete-manage-cookies">Internet Explorer</a></li>
        <li><a href="https://support.apple.com/es-es/guide/safari/sfri11471/mac">Safari</a></li>
    </ul>

    <p>Para más información sobre nuestra política de cookies, contáctanos en rgnrk.cookies@rgnrk.com.</p>
</div>
