@page
@using static RGNRK.Data.User
@model RGNRK.Pages.IndexLoggedInModel
@{
    ViewData["Title"] = "Home - Logged In";
}

<h1 class="title">Bienvenid@@, @Model.UserProfile.FirstName @Model.UserProfile.LastName</h1>

<div class="user-profile">
    <form method="post">
        <div>
            <label asp-for="UserProfile.FirstName"><strong>Nombre:</strong></label>
            <input type="text" asp-for="UserProfile.FirstName" class="form-control" />
            <span asp-validation-for="UserProfile.FirstName" class="text-danger"></span>
        </div>
        <div>
            <label asp-for="UserProfile.LastName"><strong>Apellidos:</strong></label>
            <input type="text" asp-for="UserProfile.LastName" class="form-control" />
            <span asp-validation-for="UserProfile.LastName" class="text-danger"></span>
        </div>
        <div>
            <strong>Correo:</strong> @Model.UserProfile.Email
        </div>
        <div>
            <label asp-for="UserProfile.Height"><strong>Altura (cm):</strong></label>
            <input type="number" asp-for="UserProfile.Height" class="form-control" /> 
            <span asp-validation-for="UserProfile.Height" class="text-danger"></span>
        </div>
        <div>
            <label asp-for="UserProfile.Weight"><strong>Peso (kg):</strong></label>
            <input type="number" asp-for="UserProfile.Weight" class="form-control" />
            <span asp-validation-for="UserProfile.Weight" class="text-danger"></span>
        </div>
        <div>
            <label asp-for="UserProfile.UserCategory"><strong>Categoría:</strong></label>
            <select asp-for="UserProfile.UserCategory" asp-items="Html.GetEnumSelectList<Category>()" class="form-control"></select>
            <span asp-validation-for="UserProfile.UserCategory" class="text-danger"></span>
        </div>
        <div class="button-container">
            <button type="submit" class="btn-bnch btn-primary">Actualizar</button>
        </div>
    </form>

     <button type="submit" class="btn-bnch btn-primary">Actualizar</button>

    
</div>

<style>
    .title {
        font-family: 'Inter', sans-serif;
        font-weight: 700;
        font-size: 40px;
        color: white;
        text-align: center;
        margin-top: 20px;
    }

    .user-profile {
        font-family: 'Inter', sans-serif;
        font-size: 1.2rem;
        color: white;
        text-align: left;
        margin: 20px;
    }

    .btn-bnch {
        background-color: #ffffff;
        color: #199DFC;
        border: none;
        border-radius: 7px;
        padding: 10px 20px;
        font-size: 1.2rem;
        text-decoration: none;
        display: inline-block;
        margin-top: 20px;
    }

        .btn-bnch:hover {
            color: #D3D3D3;
            text-decoration: none;
        }

    .button-container {
        text-align: right; /* Alinea el contenido a la derecha */
    }

    .user-profile form {
        background-color: #199DFC;
        max-width: 600px; /* Ajusta esto a la anchura que prefieras */
        margin: 0 auto; /* Centra el formulario horizontalmente */
        padding: 20px;
        border-radius: 7px;
        margin-bottom: 80px;
    }

        .user-profile form .form-control {
            background-color: #ffffff; /* Cambia esto al color que prefieras */
            color: #000000; /* Cambia esto al color que prefieras */
            border: none;
        }

            .user-profile form .form-control:focus {
                background-color: #ffffff; /* Cambia esto al color que prefieras */
                color: #000000; /* Cambia esto al color que prefieras */
                border: none;
                outline: none;
                box-shadow: none;
            }

        .user-profile form div {
            margin-bottom: 20px; /* Ajusta esto al espacio que prefieras */
</style>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

