@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!-- Enlace a la fuente Inter -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">

<!-- Enlace al archivo CSS externo -->
<link href="~/css/HomeNoLogin.css" rel="stylesheet">

<!-- Contenedor de la imagen con el título -->
<div class="image-container">
    <img src="~/img/crossfit-1.jpg" alt="Crossfit Image" class="img-fluid" />
    <div class="title">RAGNAROK</div>
    <div class="subtitle">Superación sin límites, un WOD a la vez</div>
    <a href="~/Identity/Account/Register" class="register-button">Regístrate</a>
</div>

<div class="description">
    El entrenamiento funcional basado en CrossFit ofrece múltiples beneficios para la salud y el bienestar. Este tipo de ejercicio combina movimientos variados y de alta intensidad que mejoran la fuerza, la resistencia, la flexibilidad y la coordinación. Al utilizar ejercicios funcionales, se trabaja el cuerpo de manera integral, optimizando el rendimiento en actividades cotidianas y deportivas.
</div>