@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!-- Enlace a la fuente Inter -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">

<!-- Enlace al archivo CSS externo -->
<link href="~/css/HomeNoLogin.css" rel="stylesheet">

<!-- Contenedor de la imagen con el título -->
<div class="image-container">
    <img src="~/img/crossfit-1.jpg" alt="Crossfit Image" class="img-fluid" />
    <div class="title">RAGNAROK</div>
    <div class="subtitle">Superación sin límites, un WOD a la vez</div>
    <a href="~/Identity/Account/Register" class="register-button">Regístrate</a>
</div>

<div class="description">
    El entrenamiento funcional basado en CrossFit ofrece múltiples beneficios para la salud y el bienestar. Este tipo de ejercicio combina movimientos variados y de alta intensidad que mejoran la fuerza, la resistencia, la flexibilidad y la coordinación. Al utilizar ejercicios funcionales, se trabaja el cuerpo de manera integral, optimizando el rendimiento en actividades cotidianas y deportivas.
</div>

<!-- Nueva Sección: Beneficios -->
<h2 id="beneficios">Beneficios</h2>
<div class="benefits">

    <div class="benefit-item">
        <img src="~/img/crossfit11.png" alt="Beneficio 1" />
        <div class="benefit-text">
            <h3>Mejora de la composición corporal</h3>
            <p>
                Ayuda a eliminar grasa y a bajar de peso debido a la intensidad de los ejercicios, lo que permite obtener resultados rápidos y efectivos. Además, al trabajar con repeticiones que queman grasa de manera acelerada, se motiva a los practicantes a mantenerse en el camino hacia sus objetivos de fitness
            </p>
        </div>
    </div>
    <div class="benefit-item">
        <img src="~/img/crossfit12.png" alt="Beneficio 2" />
        <div class="benefit-text">
            <h3>Mejora de la capacidad aeróbica y flexibilidad</h3>
            <p>Este tipo de entrenamiento incrementa la capacidad aeróbica y la flexibilidad, lo que resulta en una mejor calidad de vida y un menor riesgo de lesiones. Además, al mejorar la movilidad y la estabilidad, se favorece la realización de actividades cotidianas y deportivas con mayor eficiencia</p>
        </div>
    </div>
</div>

<!-- Sección de Coaches -->
<div class="coaches">
    <h2 id="coaches">Coaches</h2>
    <div class="coach-item">
        <img src="~/img/coach1.png" alt="Coach 1" />
        <div class="coach-info">
            <h3>Abel Jesús Ortega</h3>
            <p>Abel Ortega es reconocido como uno de los entrenadores de CrossFit más destacados a nivel mundial. Su enfoque innovador y su capacidad para maximizar el potencial de sus atletas lo han llevado a ser el mentor de campeones y referente en la comunidad fitness. Con una filosofía que combina técnica, estrategia y motivación, Abel ha transformado el CrossFit, llevando a sus pupilos a alcanzar nuevas cimas de rendimiento y éxito.</p>
        </div>
    </div>
    <div class="coach-item">
        <img src="~/img/coach2.png" alt="Coach 2" />
        <div class="coach-info">
            <h3>Alberto Valladolid</h3>
            <p>Alberto Valladolid, leyenda viviente de la halterofilia, ha dejado una huella imborrable en el deporte. Con récords que aún desafían los límites de la fuerza humana, su transición de atleta a entrenador promete revolucionar el entrenamiento en halterofilia. Su experiencia y conocimiento técnico son invaluables, y su nueva misión es formar a la próxima generación de campeones que seguirán su legado de excelencia.</p>
        </div>
    </div>
    <div class="coach-item">
        <img src="~/img/coach3.png" alt="Coach 3" />
        <div class="coach-info">
            <h3>Luis Foulquie</h3>
            <p>Luis Foulquie, el titán del Ironman, ha escrito páginas doradas en la historia del triatlón con su resistencia sobrehumana y su voluntad de hierro. Ahora, decidido a compartir su sabiduría, se dedica a enseñar las estrategias y técnicas que lo llevaron a la cima. Su visión para el entrenamiento y su pasión por el deporte inspiran a atletas de todo el mundo a superar sus propios límites y alcanzar la grandeza.</p>
        </div>
    </div>
</div>

<!-- Sección de Entrenamientos -->
<h2 id="entrenamientos">Entrenamientos</h2>
<div class="workouts">

    <div class="workout-item">
        <img src="~/img/crossfit21.png" alt="Entrenamientos" />
        <div class="workout-info">
            <h3>Entrenamientos de fuerza</h3>
            <p>Estos entrenamiento están diseñados para mejorar la fuerza y la resistencia muscular. Con ejercicios de levantamiento de pesas y movimientos funcionales, se busca desarrollar la potencia y la capacidad de trabajo de los músculos, lo que se traduce en un mejor rendimiento en actividades cotidianas y deportivas.</p>
        </div>
    </div>
    <div class="workout-item">
        <img src="~/img/crossfit22.png" alt="Entrenamientos" />
        <div class="workout-info">
            <h3>Entrenamientos de resistencia</h3>
            <p>Se enfocan en mejorar la resistencia cardiovascular y la capacidad aeróbica. Con ejercicios de alta intensidad y corta duración, se busca aumentar la resistencia del corazón y los pulmones, lo que se traduce en una mejor capacidad de recuperación y un menor riesgo de fatiga.</p>
        </div>
    </div>
    <div class="workout-item">
        <img src="~/img/crossfit20.png" alt="Entrenamientos" />
        <div class="workout-info">
            <h3>Entrenamientos de movimientos gimnásticos</h3>
            <p>Los entrenamientos de movimientos gimnásticos se centran en la flexibilidad, control corporal y fuerza funcional. A través de ejercicios como equilibrios, volteretas y barras, se mejora la coordinación y la agilidad, esenciales para una ejecución técnica precisa y eficiente.</p>
        </div>
    </div>
</div>

<!-- Sección de Contacto -->
<div id="contacto" class="contact">
    <div class="contact-left">
        <h2>Contacto</h2>
        <div class="contact-info">
            <p>Dirección: C. Maestro Pedro Perez Abadia, 2A, 30100 Espinardo, Murcia</p>
            <p>Teléfono: 968 83 46 05 </p>
        </div>
    </div>
    <div class="contact-right">
        <a href="~/Identity/Account/Register" class="register-button-2">Regístrate</a>
    </div>
</div>
