@page
@model TermsModel

@{
    ViewData["Title"] = "Términos de Uso";
    Layout = "_Layout";
}

<style>
    .content-container {
        margin: 20px 40px 20px 40px; /* Margen arriba, derecha, abajo, izquierda */
    }

</style>

<div class="content-container">
    <h1>@ViewData["Title"]</h1>
    <p>Bienvenido a Ragnarok. Al acceder y utilizar nuestro sitio web, aceptas cumplir con los siguientes términos y condiciones.</p>

    <h2>Uso del Sitio</h2>
    <p>El contenido de este sitio es solo para tu información y uso general. Está sujeto a cambios sin previo aviso.</p>

    <h2>Propiedad Intelectual</h2>
    <p>Todo el contenido del sitio web, incluyendo textos, gráficos, logotipos, iconos, imágenes, clips de audio y software, es propiedad de Ragnarok o sus proveedores de contenido y está protegido por las leyes de derechos de autor.</p>

    <h2>Conducta del Usuario</h2>
    <p>No debes usar nuestro sitio de manera que pueda causar daños o perjuicios al mismo o que interfiera con el acceso o uso de cualquier otra parte del sitio. Está prohibido el uso del sitio para cualquier propósito ilegal o no autorizado.</p>

    <h2>Enlaces a Otros Sitios</h2>
    <p>Nuestro sitio puede contener enlaces a otros sitios de interés. No tenemos control sobre esos sitios y no somos responsables de la protección y privacidad de la información que proporciones mientras visitas dichos sitios.</p>

    <h2>Limitación de Responsabilidad</h2>
    <p>En ningún caso seremos responsables de ninguna pérdida o daño, incluidos, sin limitación, daños indirectos o consecuentes, o cualquier pérdida o daño que surja del uso o en conexión con el uso de este sitio web.</p>

    <h2>Modificaciones a los Términos</h2>
    <p>Podemos revisar estos términos de uso en cualquier momento actualizando esta página. Debes visitar esta página de vez en cuando para revisar los términos actuales porque son vinculantes para ti.</p>

    <h2>Contacto</h2>
    <p>Si tienes preguntas sobre nuestros Términos de Uso, contáctanos en rgnrk.terms@rgnrk.com.</p>
</div>
